.challenges-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: -336px;
  }
  
  .challenges-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .challenge-card {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .challenge-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .challenge-card p {
    margin-bottom: 15px;
  }
  
  .challenge-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-primary,
  .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #333;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #333;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    opacity: 0.8;
  }
  .title{
    color: #333;
  }
  .pic2{
    background-image: url(bg11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }