.homepage {
    text-align: center;
    padding: 20px;
    
  }
  
  .hero {
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 36px;
    
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    color: #888;
    
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    
  }
  
  .feature {
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .feature-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
    color: #d7cfcd;
    margin-bottom: 20px;
    
  }
  
  .but {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
   
  }
  
  .btn-primary {
    background-color: #d1ddd1;
  }
video{
  height: 100%;
  width: 1650px;
  margin-top: -254px;
  opacity: -50px;
  

  /* margin-left: 20px; */
}
.foot{
  margin-top: -600px;
  
}
h2{
  color: #ebe2e2;
}
.whitec1{
  color: #f3efef;
}
