.instructional-videos-page-container {
    padding: 20px;
    margin-left: 4%;
    
    margin-bottom: -370px;

  }
  a {
    display: inline-block;
    padding: 8px 16px;
    /* background-color: #9e6e52; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 0%;
    
  }
  
  .video-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .video-thumbnail {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  h2 {
  
    font-size: 20px;
    margin: 10px 0;
   
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  

  
  a:hover {
    background-color: #0056b3;
  }
  
  .watch{
    background-color: #9e6e52;
  }
  .black{
    color: black;
  }